.App {
  text-align: center;
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);}
.search-form{
min-height: 10vh;
display: flex;
justify-content: center;
align-items: center;

}

.search-bar{
  background-color: #fff !important;

  width: 50%;
  border: none;
  padding: 10px;
}

.search-button{
 /*background: #fff !important;*/

  margin-left: 6px;
  letter-spacing: 1px;
  display: inline-block;
  border : 2px solid coral;
  transition: 0.5s;
  padding: 10px 30px;
  color: coral;
}

.search-button:hover{
  background: coral;
  color: white;
}

.announcement-bar{
 
  min-height: 8vh;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: Georgia, 'Times New Roman', Times, serif;
 
}

img{
align-self: center;
}

.flag{
  text-align: center;
padding-right: 10px;
padding-left: 10px;
width: 70px;
height: 30px
}

